services:
  app:
    image: junobuild/api
    ports:
      - '3000:3000'
    env_file:
      - .env.production
    restart: unless-stopped
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '3'
